.App {
/*  text-align: center;*/
  color:white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header, .App-footer {
  display: flex;
  background: #1B1E2C;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 24px;
  height: 50px;
}

/*  background-color: #282c34;
  height: 50px;
  font-size: calc(10px + 2vmin);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;*/

.App-link {
  color: #61dafb;
}

.App-section {
  flex-grow:1;
  padding: 10px;
}

.App-article {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: #050505;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
